<?xml version="1.0" encoding="utf-8"?>
<DataType Key="26e6e58a-042b-4e7a-89fd-7d232c007d04" Alias="Home Page - Advanced Custom Property - Advanced Property Editor Training" Level="1">
  <Info>
    <Name>Home Page - Advanced Custom Property - Advanced Property Editor Training</Name>
    <EditorAlias>Umbraco.Plain.Json</EditorAlias>
    <EditorUIAlias>advancedPropertyEditorTraining</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>