<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eccf72a6-9c94-4af3-bd56-5736ea69bf12" Alias="Home Page - Custom Property - Property Editor Training Label" Level="1">
  <Info>
    <Name>Home Page - Custom Property - Property Editor Training Label</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>propertyEditorTraining</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "disabled": false,
  "placeholder": "This is the placeholder text"
}]]></Config>
</DataType>